@import "variable.styl"

body, html
  line-height: 1
  font-family: '黑体'
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: $color-text
  .clearfix:before,.clearfix:after
    content: ''
    display: table
  .clearfix:after
    clear: both
  .border-bottom,.border-top
    position: relative
    &:after
      content: ''
      display: block
      position: absolute
      width: 100%
      left: 0
      bottom: 0
      height: 1px
      background-color: #c8c7cc
      transform: scaleY(0.5)
      @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
        transform: scaleY(0.33)
  .border-top
    &:after
      top: 0
  input::-webkit-input-placeholder
    color: #BEC2CC
  input:-moz-placeholder 
    color: #BEC2CC
  input::-moz-placeholder
    color: #BEC2CC
  input:-ms-input-placeholder
    color: #BEC2CC
  input.error::-webkit-input-placeholder 
    color: #E63617
  input.error:-moz-placeholder
    color: #E63617
  input.error::-moz-placeholder
    color: #E63617
  input.error:-ms-input-placeholder
    color: #E63617
  .area-occupation-age
    position: relative
    display: flex
    align-items: center
    padding: 20px 0
    font-size: 16px
    height: 16px
    line-height: 16px
    .tit
      flex: 1 1 30%
      color: $color-theme-head
      letter-spacing: 0
    .select
      display: flex
      align-items: center
      flex: 1 1 70%
      text-align: right
      font-weight: 700
      span
        flex: 1 1 100%
        text-align: right
        font-size: 14px
        &.primary
          color: $color-theme-hold
